spring:
  application:
    name: zoologico

  datasource:
    url: jdbc:mysql://localhost:3306/zoo?createDatabaseIfNotExist=true&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: rpmonn
    hikari:
      maximum-pool-size: 100

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
